/* колір фону #FFFFFF*/
/* колір нижнього фону   #2f303a; */
/* колір тексту логотип #2196F3*/
/* колір тексту #212121*/
/* колір підтексту #757575*/
/* ФУНКЦІЯ БАЗОВИХ КОЛЬОРІВ ВАР */
:root {
  --primery-text-color: #757575;
  --totle-text-color: #212121;
  --primery-bk-color: #ffffff;
  --accent-color: #2196f3;
  --fon-footer: #2f303a;
  --filtr-cl-norm: #f5f4fa;
}
/* ТІЛО */
body {
  background-color: var(--primery-bk-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* ОНУЛЕННЯ ЗАГОЛОВКІВ ТА ТЕКСТУ ПО МАРЖЕНУ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
ul {
  list-style: none;
}
/* ЛОГОТИП */
.logo {
  font-family: Raleway, sans-serif;
  color: var(--totle-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-blu {
  color: var(--accent-color);
}
/* ГЕРОЙ */
.hero {
  background-color: var(--fon-footer);
}

/* НАВІГАЦІЯ ХЕДЕР */
.site-nav .link {
  color: var(--totle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* Вигляд "Студії" підсвіченой коли знаходишся на сторінці */
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact-link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-adress .contact-link:hover,
.site-adress .contact-link:focus {
  color: var(--accent-color);
}
/*ГЕРОЙ*/
.hero-title {
  color: var(--primery-bk-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primery-bk-color);
}
/*Sectoin*/

/* feature СИЛЬНІ СТОРОНИ*/
.feature-list .title {
  color: var(--totle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
/* ОПИС СИЛЬНИХ СТОРІН */
.feature-list .description {
  font-size: 14px;
  line-height: 1.71;
}

/* ЧИМ МИ ЗАЙМАЄМОСЬ - ФОТО */
.section-foto .title,
.section-people .title {
  color: var(--totle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}
/* НАША КОМАНДА */
.team {
  background-color: var(--filtr-cl-norm);
}
.section-people .name {
  color: var(--totle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section-people .position {
  font-size: 16px;
  line-height: 1.19;
}
/* ФУТЕР ПІДВАЛ */
.logo-wight {
  color: var(--primery-bk-color);
}
.main-footer {
  background-color: var(--fon-footer);
}
/* АДРЕСА У ФУТЕРІ */
.address {
  color: var(--primery-bk-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-section-link {
  text-decoration: none;
}
/* Фокус Ховер для адреси у Футері */
.a-footer .address:focus,
.a-footer .address:hover,
.a-footer .address-link:focus,
.a-footer .address-link:hover {
  color: var(--accent-color);
}

/* КНОПКА button  Заказать услугу*/
.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  border: inherit;
  color: var(--primery-bk-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  /* display: flex;
align-items: center;
 */
  letter-spacing: 0.06em;
}
.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
}

/* text-align: center;
 */
/* Уточнити по кнопкам!!!!! */

/*  Уточнити по кнопкам!!! */

/* П-О-Р-Т-Ф-О-Л-І-О */
/* Заголовок Фільтра схований */
.invisible {
  color: var(--primery-bk-color);
}
/* Кнопки Фільтра */
.filter-web .btn-f {
  border-radius: 4px;
  padding: 6px 22px;
  border: inherit;
  cursor: pointer;
  background-color: var(--filtr-cl-norm);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  /* text-align: center; */
}
/* Фокус Ховер для Фільтра у Портфоліо */
.filter-web .btn-f:hover,
.filter-web .btn-f:focus {
  color: var(--primery-bk-color);
  background-color: var(--accent-color);
}
/* ГАЛЕРЕЯ */
.gallery .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--totle-text-color);
}
.gallery .description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primery-text-color);
}
/* Галерея проЕктів картки */
.people-team {
  text-decoration: none;
}
/* Модуль 3 */
/* 1 КОНТЕЙНЕР */
/* Голова */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  outline: 2px solid navy;
}
/* Герой Банер */
.hero {
  width: 1600px;
  height: 600px;
  padding: 0;
  margin: auto;
}
.hero-title {
  padding-top: 200px;
}
.btn-primary {
  margin-bottom: 200px;
}
